
  <style>
    .event_list li { width: 271px; height: 382px; border: 1px solid #ddd;}
    .event_list li a { display: block; line-height: 1;}
    .event_list li a .img { overflow: hidden; position:relative; width: 271px; height: 272px; border-bottom: 1px solid #ddd;}
    .event_list li a .img img { position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);}

    .event_list li a .info { padding: 29px 10px 0;}
    .event_list li a .info strong { display: block; overflow: hidden; width:100%; white-space: nowrap; text-overflow: ellipsis; font-size:18px; color:#222;} /* 줄내림 없이 한줄로 쓰고싶을때 공식*/
    .event_list li a p { padding: 20px 0 0; font-size: 13px; color:#888;}
    .event_list li a p span { color:#ed1846, font-size: 15px;}

  </style>
